@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Violet Sans';
  src: url('/fonts/VioletSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blair';
  src: url('/fonts/Blair.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Belgro';
  src: url('/fonts/Belgro.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Violet Sans', sans-serif;
}

body {
  font-family: 'Violet Sans', sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
